@model IEnumerable<MemeListingServiceModel>

@foreach (var meme in Model)
{
    <div class="row">
        <div class="box box-center">
            <a href="/memes/details/@meme.Id" class="text-info">
                <h3>@meme.Title</h3>
                <img src="@meme.ImageUrl" class="img-responsive" alt="No Image" />
            </a>
            <p>Created on: @meme.CreatedOn</p>
            <div class="comment-icon">
                @meme.Votes
                <i class="fa fa-thumbs-up"></i>
            </div>
            <div class="comment-icon">
                @meme.Comments
                <i class="fa fa-comment"></i>
            </div>
            
        </div>
    </div>
}

