@model MemeWithCommentsServiceModel

<div class="row">
    <div class="box box-center">
        <h4>@Model.Title</h4>
        <img src="@Model.ImageUrl" class="img-responsive" alt="No Image" />
        <small>Created on: @Model.CreatedOn</small>
        <hr />
        <div>
            <i id="meme-upvote" class="glyphicon glyphicon-chevron-up"></i>
            <span id="meme-votes" class="label label-primary">@Model.Votes</span>
            <i id="meme-downvote" class="glyphicon glyphicon-chevron-down"></i>
        </div>
        <div>
            @if (User.Identity.Name == Model.Author || User.IsInRole(WebConstants.AdministratorRole))
            {
                <a href="/memes/edit/@Model.Id" class="btn btn-warning">Edit</a>
                <a href="/memes/delete/@Model.Id" class="btn btn-danger">Delete</a>
            }            
        </div>
    </div>
</div>

<div class="row box box-center">
    <div class="comments-container">
        <a href="/comments/create?memeId=@Model.Id&parentCommentId=null" class="btn btn-success">Add Comment</a>
        <h1>Comments</h1>
        <ul id="comments-list" class="comments-list">
            @foreach (var comment in Model.Comments)
            {
                <li>
                    <div class="comment-main-level">
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name@(Model.Author==comment.Author?" by-author":"")"><a href="/users/profile/@comment.AuthorId">@comment.Author</a></h6>
                                <span>@comment.CreatedOn</span>
                                <a href="/comments/create?memeId=null&parentCommentId=@comment.Id"><i class="fa fa-reply"></i></a>
                            </div>
                            <div class="comment-content">
                                @comment.Content
                            </div>
                        </div>
                    </div>
                    <!-- Respuestas de los comentarios -->
                    <ul class="comments-list reply-list">
                        @foreach (var subcomment in comment.ChildrenComments)
                        {
                            <li>
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name@(Model.Author==subcomment.Author?" by-author":"")"><a href="/users/profile/@subcomment.AuthorId">@subcomment.Author</a></h6>
                                        <span>@subcomment.CreatedOn</span>
                                    </div>
                                    <div class="comment-content">
                                        @subcomment.Content
                                    </div>
                                </div>
                            </li>
                        }                       
                       
                    </ul>
                </li>

            }            
        </ul>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
</script>

<script>

    $(document).ready(function () {
        $("#meme-upvote").click(function (event) {
            $.post("/Memes/AddOrUpdateVote",
            {
                MemeId: @Model.Id,
                Value: 1
            },
            function (data, status) {
                $("#meme-votes").text(data);
            });
        });

        $("#meme-downvote").click(function (event) {
            $.post("/Memes/AddOrUpdateVote",
            {
                MemeId: @Model.Id,
                Value: -1
            },
            function (data, status) {
                $("#meme-votes").text(data);
            });
        });
    });
</script>